{% extends "base.html" %}
{% block content %}
<form action="/" method="POST">
    <input type="number" name="'academic_period_name" placeholder="Digite o período: ">
    <input type="number" name="date_start" placeholder="Digite a data de início: ">
    <input type="number" name="date_end" placeholder="Digite a data de término: ">
    <input type="text" name="academic_period_description" placeholder="Insira uma descrição: ">
    

    <button type="submit">Cadastrar</button>
</form>
<!-- {% for teachers in data %}
   
    <br>
    {{teachers.1}}
    {{teachers.0}}
    <form action="/delete/teacher/{{teachers.0}}" method="POST">
        <button>DELETAR</button>
    </form>
    <a href="/update/teacher/{{teachers.0}}">Atualizar</a>
    {% else %}
    NÃO TEM PRODUTOS CADASTRADOS
{% endfor %} -->
{% endblock %}