{% extends "base.html" %}
{% block content %}
<form action="/" method="POST">
    <input type="text" name="'adress" placeholder="Digite o endereço: ">
    
    

    <button type="submit">Cadastrar</button>
</form>
<!-- {% for teachers in data %}
   
    <br>
    {{teachers.1}}
    {{teachers.0}}
    <form action="/delete/teacher/{{teachers.0}}" method="POST">
        <button>DELETAR</button>
    </form>
    <a href="/update/teacher/{{teachers.0}}">Atualizar</a>
    {% else %}
    NÃO TEM PRODUTOS CADASTRADOS
{% endfor %} -->
{% endblock %}