{% extends "base.html" %}
{% block content %}
<form action="/" method="POST">
    <input type="text" name="'institution" placeholder="Digite o nome da instituição: ">
    <input type="text" name="course" placeholder="Digite o nome do curso">
    <input type="text" name="status_class" placeholder="Qual é o status da turma?">
    <input type="number" name="type_class" placeholder="Qual é o tipo de turma?">
    <input type="text" name="'expected_numb_stud" placeholder="Número de alunos previstos: ">
    <input type="text" name="enrolled_numb_stud" placeholder="Número de alunos matriculados: ">
    <input type="text" name="semester" placeholder="Insira o semestre: ">
    <input type="number" name="matrix_curriculum" placeholder="Insira a matriz curricular: ">
    <input type="text" name="turn_class" placeholder="Insira o turno: ">
    <input type="number" name="series_class" placeholder="Digite a série: ">


    

    <button type="submit">Cadastrar</button>
</form>












{% endblock %}